<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='content-type' />
  </head>
  <body>
    <p>Hello <%= @customer.first_name %></p>
    <p>Your proofs are ready here: <%= @album.url %>. Please phone me at 604-833-6439 to order or if you have any questions.</p>
    <p>Regards,</p>
    <p>Wolfgang</p>
  </body>
</html>
